<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="assets\stadium\stade1.jpg"alt="Random first slide">
            <div class="overlay-dark"></div>
        </div>

    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100"src="assets\stadium\stade2.jpg" alt="Random second slide">
            <div class="overlay-dark"></div>
        </div>

    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="d-block w-100"src="assets\stadium\stade3.jpg" alt="Random third slide">
            <div class="overlay-dark"></div>
        </div>

    </ng-template>
</ngb-carousel>

